appnope==0.1.0
backports-abc==0.4
backports.ssl-match-hostname==3.5.0.1
beautifulsoup4==4.4.1
certifi==2015.11.20.1
cycler==0.9.0
decorator==4.0.6
Django==1.9.1
Flask==0.10.1
funcsigs==0.4
functools32==3.2.3.post2
gnureadline==6.3.3
gunicorn==19.4.5
heroku==0.1.4
IndicoIo==0.12.0
ipython==4.0.3
ipython-genutils==0.1.0
itsdangerous==0.24
Jinja2==2.8
jsonschema==2.5.1
MarkupSafe==0.23
matplotlib==1.5.1
mechanize==0.2.5
mock==1.3.0
networkx==1.10
nose==1.3.7
numpy==1.10.4
pandas==0.17.1
path.py==8.1.2
pbr==1.8.1
pexpect==4.0.1
pickleshare==0.6
Pillow==3.1.0
ptyprocess==0.5
pylab==0.1.3
pyparsing==2.0.7
python-dateutil==1.5
pytz==2015.7
pyzmq==15.2.0
requests==2.9.1
scikit-image==0.11.3
scikit-learn==0.17
scipy==0.17.0
seaborn==0.7.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
sympy==0.7.6.1
tornado==4.3
traitlets==4.1.0
vboxapi==1.0
virtualenv==14.0.0
Werkzeug==0.11.4
wheel==0.26.0
